html, body{
	width: 100vw;
	min-height: 100vh;
	overflow-x: hidden;
}
button{
	border: none;
}
button:hover{
	opacity: 0.8;
}
.top-wrap{
	height: 1230px;
	width: 100%;
	background-image: url(../images/top-back.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: right;
	display: flex;
	flex-direction: column;
}
header{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
.menu-wrap{
	margin-left: 156px;
	display: flex;

}
.header-menu{
	margin-right: 60px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;
	color: #505F98;
	cursor: pointer;
}
.header-menu:hover{
	opacity: 0.7;
}
.header-menu:nth-child(3){
	margin-right: 0px;
}

.main-tittle{
	margin: auto;
	font-family: Roboto;
	font-style: normal;
	font-weight: 900;
	font-size: 26px;
	line-height: 38px;
	color: #37447E;
	
}
.buy{
	margin-right: 160px;
	background: #111B47;
	border-radius: 2px;
	color: white;
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 18px;
	text-align: center;
	width: 160px;
	height: 23px;
}
.introduce-wrap{
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.intro-left{
	width: 38%;
	display: flex;
	flex-direction: column;
	padding-left: 165px;
}
.introduce-tittle{
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 50px;
	line-height: 66px;
	letter-spacing: 1px;
	color: #091133;
}
.introduction{
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 30px;
	color: #505F98;
	margin-top: 22px;
}
.intro-btn-wrap{
	width: 100%;
	display: flex;
	flex-direction: row;
	margin-top: 69px;
}
.purchase{
	margin-right: 30px;
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 26px;
	text-align: center;
	color: #FFFFFF;
	background: #111B47;
	border-radius: 2px;
	width: 189px;
	height: 28px;
	cursor: pointer;
}
.learn-more{
	background-color: #E7ECFF;
	mix-blend-mode: normal;
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 26px;
	text-align: center;
	color: #091133;
	border: 2px solid #091133;
	box-sizing: border-box;
	border-radius: 2px;
	width: 189px;
	height: 28px;
	cursor: pointer;

}
.light-section{
	width: 100%;
	height: 787px;
	background-image: url(../images/u.png);
	background-size: 36%;
    background-repeat: no-repeat;
    background-position: 83%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.light-section-left{
	width: 35%;
	display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 165px;
}
.light-section-tittle{
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 36px;
	line-height: 48px;
	color: #091133;
}
.light-section-discription{
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 26px;
	color: #6F7CB2;
	margin-top: 20px;
}
.light-section-footer{
	display: flex;
	justify-content: center;
	margin-top: 90px;
}
.light-section-foot{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 50%;
}
.goes-here{
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 26px;
	color: #091133;
	margin-top: 14px;
}
.goes-here-disc{
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 18px;
	color: #5D6970;
	margin-top: 6px;
}
.lotus-section{
	width: 100%;
	height: 787px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	background-image: url(../images/undraw_happy_news_hxmt.png);
	background-size: 35%;
    background-repeat: no-repeat;
    background-position: 15%;
}
.lotus-section-wrap{
	width: 30%;
	margin-right: 169px;
}
.mobile-section{
	width: 100%;
	height: 787px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	background-image: url(../images/undraw_social_influencer_sgsv.png);
	background-size: 35%;
    background-repeat: no-repeat;
    background-position: 15%;
}
.mobile-section-wrap{
	width: 30%;
	margin-right: 169px;
}
.last-section{
	width: 100%;
	height: 787px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	background-image: url(../images/undraw_mention_6k5d.png);
	background-size: 35%;
    background-repeat: no-repeat;
    background-position: 15%;
}
.last-section-wrap{
	width: 30%;
	margin-right: 169px;
}
.last-section-btn{
	background: #111B47;
	border-radius: 2px;
	color: white;
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 18px;
	text-align: center;
	width: 130px;
	height: 23px;
	margin-top: 30px;
}
.price-section{
	width: 100%;
	height: 934px;
	background-image: url(../images/rectangle.png);
	background-size: 182%;
    background-repeat: no-repeat;
    background-position: top;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.price-section-wrap{
	width: 40%;
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.price-section-tittle{
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 36px;
	line-height: 48px;
	text-align: center;
	color: #091133;
}
.price-section-disc{
	text-align: center;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 26px;
	text-align: center;
	color: #6F7CB2;
	margin-top: 16px;
}
.bucks{
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 50px;
	line-height: 66px;
	text-align: center;
	letter-spacing: 1px;
	color: #222F65;
	margin-top: 36px;
}
.under-bucks{
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 26px;
	text-align: center;
	color: #37447E;
	cursor: pointer;
}
.under-bucks:hover{
	opacity: 0.7;
}
.above-button{
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;
	text-align: center;
	color: #5D6970;
	margin-top: 60px;
}
.purch-now{
	width: 160px;
	height: 23px;
	background: #111B47;
	border-radius: 2px;
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 24px;
	text-align: center;
	color: #FFFFFF;
	margin-top: 9px;
	cursor: pointer;
}
footer{
	width: 100%;
	height: 226px;
	display: flex;
	flex-direction: column;

}
.footer-top{
	display: flex;
	width: 100%;
	height: 60%;
	justify-content: center;
}
.footer-top-wrap{
	display: flex;
	width: 70%;
	height: 100%;
	align-items: center;
	border-bottom: 1px solid gray;
}
.footer-bottom-wrap{
	display: flex;
	width: 100%;
	height: 40%;
	justify-content: space-between;
	align-items: center;
}
.licence{
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 24px;
	color: #939EA4;
}
.lowest-btn{
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 18px;
	text-align: center;
	color: #FFFFFF;
	background: #111B47;
	border-radius: 2px;
	width: 150px;
	height: 20px;
	cursor: pointer;
}
.footer-bottom-wrap-left{
	margin-left: 215px;
}
.footer-menu{
	margin-right: 60px;
	cursor: pointer;
}
.footer-menu:hover{
	opacity: 0.7;
}
.footer-menu:nth-child(3){
	margin-right: 0px;
}
.footer-bottom-wrap-right{
	margin-right: 215px;
}
.footer-icons{
	margin-right: 34px;
	cursor: pointer;
}
.footer-icons:nth-child(5){
	margin-right: 0px;
}