@media (max-width: 1274px) {
	.introduce-tittle{
		font-size: 30px;
	}
	.introduction{
		font-size: 18px;
	}
	
}
@media (max-width: 1213px) {
	.menu-wrap{
		margin-left: 50px;
	}
	.buy{
		margin-right: 50px;

	}
	.introduce-wrap{
		justify-content: flex-start;
	}
	.introduce-tittle{
		font-size: 30px;
		margin-top: 150px;
	}
	.introduction{
		font-size: 20px;
	}
	.top-wrap{
		background: #E7ECFF;
		height: 750px;
	}
	.intro-left{
		width: 90%;
		text-align: center;
	}
	.intro-left{
		padding-left: 0px;
	}
	.intro-btn-wrap{
		justify-content: center;
	}
	
}
@media (max-width: 983px) {
	.footer-top{
		order: 2;
	}
	.footer-top-wrap{
		border-top: 1px solid gray;
		border-bottom: none;
	}
	.footer-bottom-wrap{
		order: 1;
		justify-content: center;
	}
	.footer-bottom-wrap-left{
		margin-right: 50px;
		margin-left: 0px;
	}
	.footer-bottom-wrap-right{
		margin-right: 0px;
	}
}
@media (max-width: 853px) {
	.header{
		justify-content: center;
	}
	.menu-wrap{
		flex-wrap: nowrap;
	}
	.light-section{
		align-items: center;
		justify-content: flex-start;
		background-position: bottom;
	}
	.light-section-left{
		width: 90%;
		padding-left: 0px;
		align-items: center;
		
	}
	.light-section-tittle{
		margin-top: 40px;
	}
	.light-section-foot{
		align-items: center;
	}
	.lotus-section{
		align-items: center;
		justify-content: flex-start;
		background-position: bottom;
		background-size: 50%;
		height: 600px;
	}
	.lotus-section-wrap{
		margin-right: 0px;
		width: 90%;
		display: flex;
		flex-direction: column;
		align-items: center;


	}
	.mobile-section{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		background-position: bottom;
		background-size: 50%;
		height: 600px;
	}
	.mobile-section-wrap{
		margin-right: 0px;
		width: 90%;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
	}
	.last-section{
		justify-content: flex-start;
		align-items: center;
		background-position: bottom;
		background-size: 50%;
		height: 600px;
	}
	.last-section-wrap{
		width: 90%;
		margin-right: 0px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.price-section{
		background-color: #E7ECFF;
	}
	.price-section-wrap{
		width: 90%;
	}
}
@media (max-width: 820px) {
	.header{
		flex-wrap: wrap;
	}
	.menu-wrap{
		margin-left: 10px;
	}
}
@media (max-width: 736px) {
	.header-menu{
		margin-right: 10px;
	}
	
}
@media (max-width: 615px) {
	.footer-top-wrap{
		width: 90%;
	}
}
@media (max-width: 603px) {
	.buy{
		width: 100px;
	}
	.introduce-wrap{
		align-items: center;
	}
	.intro-btn-wrap{
		justify-content: center;
	}
	.purchase{
		margin-right: 10px;
	}
	
}
@media (max-width: 553px) {
	.light-section{
		background-size: 50%;
	}
	.light-section-tittle{
		font-size: 23px;
	}
	.light-section-discription{
		font-size: 14px;
	}
	.goes-here{
		font-size: 9px;
	}
	.goes-here-dics{
	font-size: 7px;
	}
	.lotus-section{
		height: 500px;
	}
	.mobile-section{
		height: 500px;
	}
	.last-section{
		height: 500px;
	}
	.price-section{
		justify-content: flex-start;
		height: 500px;
	}
	.price-section-tittle{
		margin-top: 40px;
	}
	.footer-bottom-wrap{
		flex-direction: column;
		justify-content: space-evenly;
	}
	.footer-bottom-wrap-left{
		width: 90%;
		margin-right: 0px;
		display: flex;
		justify-content: space-evenly;
	}
	.footer-bottom-wrap-right{
		width: 90%;
		display: flex;
		justify-content: space-evenly;
	}
}
@media (max-width: 544px) {
	.footer-top-wrap{
		flex-direction: column;
		justify-content: space-evenly;
	}
	.footer-tittle{
		order: 1;
		margin: unset;
	}
	.lowest-btn{
		order: 2;
	}
	.licence{
		order: 3;
	}
}
@media (max-width: 540px) {
	header{
		flex-direction: column;
		align-items: center;
	}
	.main-tittle{
		margin: unset;
		order: 1;
	}
	.menu-wrap{
		order: 2;
	}
	.buy{
		margin-right: unset;
		order: 3;
	}
	.introduce-wrap{
		justify-content: flex-start;
	}
	.introduce-tittle{
		margin-top: 40px;
	}
	.purchase{
		width: 200px;
	}
	.last-section{
		height: 550px;
	}
	.last-section-btn{
		margin-top: 15px;

	}
	
}
@media (max-width: 518px) {
	.top-wrap{
		height: 600px;
	}
	.introduce-wrap{
		justify-content: flex-start;
	}
	.introduce-tittle{
		font-size: 23px;
		line-height: 40px;
	}
	.introduction{
		font-size: 15px;
	}
	.lotus-section{
		height: 450px;
	}
	.mobile-section{
		height: 450px;
	}
	.last-section{
		height: 470px;
	}
	.price-section-tittle{
		font-size: 26px;
	}
	.bucks{
		font-size: 30px;
		margin-top: 18px;
	}
	.above-button{
		margin-top: 28px;
	}
	
}
